PORT=3002
DATABASE_URL=postgresql://ecommerce_user:ecommerce_pass@localhost:5434/product_service_db?schema=public
RABBITMQ_ENABLED=false
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_QUEUE=product_queue
